/* COLORES */
$body-color : #1B1F21;
$nav-a-color: #0a0a0a;
$parrafo-color: #36393D;
$box-shadow-color: rgba(0,0,0,0.5);
$border-input-color: #CCC;
$background-input-color: #FFF;
$background-button-color: #0a0a0a;
$button-color: #FFF;
$box-shadow-hover-color: rgba(0,0,0,0.8);

/* FONTS */
$font-principal: 'Montserrat', sans-serif;
$font-parrafo: 'Montserrat';

